<div ng-controller="viewCreateIncidentsCtrl as ctrl">
    <form id="incident_form" name="incident_form">
        <h1>Incident creation form:</h1>
        <div class="row form-group">
            <div class="col-md-3">
                <label for="title">Title:</label>
            </div>
            <div class="col-md-9">
                <input class="form-control" name="title" id="title" type="text" ng-model="ctrl.formIncident.title"
                       required ng-minlength="3" placeholder="Enter title..."></input>
                <span ng-show="incident_form.$dirty && incident_form.title.$error.required">This is a required field</span>
                <span ng-show="incident_form.$dirty && incident_form.title.$error.minlength">Minimum length required is 3</span>
                <span ng-show="incident_form.$dirty && incident_form.title.$invalid">This field is invalid </span><br/><br/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label for="description">Description:</label>
            </div>
            <div class="col-md-9">
                <input class="form-control"  name="description" id="description" type="text" ng-model="ctrl.formIncident.description"
                       required ng-minlength="3" placeholder="Enter description..."></input>
                <span ng-show="incident_form.$dirty && incident_form.description.$error.required">This is a required field</span>
                <span ng-show="incident_form.$dirty && incident_form.description.$error.minlength">Minimum length required is 3</span>
                <span ng-show="incident_form.$dirty && incident_form.description.$invalid">This field is invalid </span><br/><br/>
            </div>
        </div>
        <div class="row form-group" >
            <div class="col-md-3">
                <label for="createdBy">Created by Id:</label>
            </div>
            <div class="col-md-9">
                <input class="form-control" name="createdBy" id="createdBy" type="number" ng-model="ctrl.formIncident.createdById"
                       required ng-minlength="1" placeholder="Enter user id..."></input>
                <span ng-show="incident_form.$dirty && incident_form.createdBy.$error.required">This is a required field</span>
                <span ng-show="incident_form.$dirty && incident_form.createdBy.$invalid">This field is invalid </span><br/><br/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <button type="button" class="btn btn-success form-control" type="button" class="btn btn-success" ng-click="ctrl.sendToBackend()"> Register
                </button>

            </div>
        </div>
    </form>
</div>