<div ng-controller="View2Ctrl as ctrl">
  <form id="registration_form" name="registration_form">
    <h1>Registration form:</h1>
    <div class="row form-group">
      <div class="col-md-3">
        <label for="login">Login:</label>
      </div>
      <div class="col-md-9">
        <input class="form-control" name="login" id="login" type="text" ng-model="ctrl.formUser.login"
               placeholder="Enter login..." required ng-minlength="3"></input>
        <span ng-show="registration_form.$dirty && registration_form.login.$error.required">This is a required field</span>
        <span ng-show="registration_form.$dirty && registration_form.login.$error.minlength">Minimum length required is 3</span>
        <span ng-show="registration_form.$dirty && registration_form.login.$invalid">This field is invalid </span><br/><br/>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-3">
        <label for="name">Name:</label>
      </div>
      <div class="col-md-9">
        <input class="form-control" name="name" id="name" type="text" ng-model="ctrl.formUser.name"
               placeholder="Enter name..." required ng-minlength="3"></input>
        <span ng-show="registration_form.$dirty && registration_form.name.$error.required">This is a required field</span>
        <span ng-show="registration_form.$dirty && registration_form.name.$error.minlength">Minimum length required is 3</span>
        <span ng-show="registration_form.$dirty && registration_form.name.$invalid">This field is invalid </span><br/><br/>
      </div>
    </div>
    <div class="row form-group" >
      <div class="col-md-3">
        <label for="surname">Surname:</label>
      </div>
      <div class="col-md-9">
        <input class="form-control" name="surname" id="surname" type="text" ng-model="ctrl.formUser.surname",
               placeholder="Enter surname..." required ng-minlength="3"></input>
        <span ng-show="registration_form.$dirty && registration_form.surname.$error.required">This is a required field</span>
        <span ng-show="registration_form.$dirty && registration_form.surname.$error.minlength">Minimum length required is 3</span>
        <span ng-show="registration_form.$dirty && registration_form.surname.$invalid">This field is invalid </span><br/><br/>
      </div>
    </div>
    <div class="row form-group" >
      <div class="col-md-3">
        <label for="password">Password:</label>
      </div>
      <div class="col-md-9">
        <input class="form-control" name = "password" id="password" type="password" ng-model="ctrl.formUser.password"
               placeholder="Enter password..."  required ng-minlength="3"></input>
        <span ng-show="registration_form.$dirty && registration_form.password.$error.required">This is a required field</span>
        <span ng-show="registration_form.$dirty && registration_form.password.$error.minlength">Minimum length required is 3</span>
        <span ng-show="registration_form.$dirty && registration_form.password.$invalid">This field is invalid </span><br/><br/>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <input class="form-control" type="button" ng-click="ctrl.sendToBackend()" value="Register">
      </div>
    </div>
  </form>
</div>