<p>This is the partial for view 1.</p>
<div ng-controller="View1Ctrl as ctrl">
    <h1>Current user list</h1>
    <div class="row">
    <table class ="table-striped">
        <thead>
        <th> Identifier </th>
        <th> Login </th>
        </thead>
        <tr ng-repeat="element in ctrl.userList" ng-class="ctrl.loggedInUser==element.id ? 'red-label' : '' ">
            <td>{{element.id}}</td>
            <td>{{element.login}}</td>
        </tr>
    </table>
    </div>
    <div>
        <button ng-if="ctrl.pageNumber > 0" ng-click="ctrl.previousPage()">Previous page</button>
        <button ng-if="ctrl.totalNumberOfElements > (ctrl.pageNumber * 10) + 10" ng-click="ctrl.nextPage()">Next Page</button>
    </div>
</div>
